.container-user {
    /*margin-top: 5%;*/
    background: linear-gradient(
            180deg,
            rgba(40, 31, 65, 0.25) 0%,
            rgba(24, 17, 37, 0.48) 100%
    );
    backdrop-filter: blur(12.5px);
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 10%;
    height: auto;
}

.imgStyle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.titleStyle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.fieldStyle {
    background: linear-gradient(
            90.42deg,
            rgba(255, 255, 255, 0.25) 9.18%,
            rgba(255, 255, 255, 0.25) 88.96%
    );
    opacity: 0.5;
    flex-shrink: 0;
    backdrop-filter: blur(12.5px);
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    border: none;
    height: 45px;
}

.redStyle {
    background: linear-gradient(
            90deg,
            rgba(231, 24, 136, 0.25) 0%,
            rgba(77, 33, 75, 0.30) 100%
    );
    flex-shrink: 0;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    border: none;
    height: 45px;
}

.inputsStyle {
    display: flex;
    border: none;
    row-gap: 10px;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.documents-block {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    min-height: 374px;
}

.documents-table-header {
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.documents-table-header > div {
    min-width: 100px;
    opacity: 50%;
    font-size: 16px;
}

.documents-table-documents {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-height: 300px;
    overflow: auto;
    padding-right: 20px;
}

.documents-button-download {
    display: flex;
    width: 160px;
    background: linear-gradient(
            90deg,
            rgba(231, 24, 136, 0.25) 0%,
            rgba(77, 33, 75, 0.30) 100%
    );
    border: none;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.documents-button {
    display: flex;
    width: 210px;
    background: linear-gradient(
            90deg,
            rgba(231, 24, 136, 0.25) 0%,
            rgba(77, 33, 75, 0.30) 100%
    );
    border: none;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.documents-button-download, .to-profile-button, .documents-button:hover {
    cursor: pointer;
}


.documents-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    opacity: 50%;
}

.documents-img {
    width: 18px;
    height: 18px;
}


.to-profile-button {
    display: flex;
    width: 230px;
    background: linear-gradient(
            90deg,
            rgba(231, 24, 136, 0.25) 0%,
            rgba(77, 33, 75, 0.30) 100%
    );
    border: none;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}


.partStyle {
    display: flex;
    flex-flow: column;
    width: 250px;
}

.labelStyle {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.06em;
    color: rgba(255, 255, 255, 0.35);
    margin-bottom: 5px;
}

.headerStyle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.ellipseStyle {
    height: 18px;
    margin-bottom: 5px;
    width: 18px;
}

.user-header {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.no-documents {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    align-items: center;
    padding-top: 77px;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .no-documents {
        width: 100%;
        padding-left: 22%;
    }
}

.back-button-active {
    display: flex;
    align-items: flex-end;
}

.no-documents > div > div {
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .line-padding {
        padding-right: 0;
        width: 100%;
    }

    .inputsStyle {
        flex-direction: column;
        width: 100%;
        /*align-items: center;*/
    }

    .rightbar-inner.user {

        border-left: none !important;
    }

    .rightbar-inner::before {

        content: none !important;
    }

    .line-myprofile {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .user-header {
        /*justify-content: center!important;*/
    }

    .becomepart-wrapper {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .partStyle {
        width: 100%;
    }

    .documents-table-header > div {

        font-size: 14px;
        column-gap: 20px;
    }

    .to-profile-button, .documents-button:hover {
        font-size: 14px;
    }

    .to-profile-button {
        padding: 15px;
        font-size: 16px;
        margin-right: -195px;
    }
}


@media screen and (max-width: 600px) {
    .documents-table-header > div {
        font-size: 12px;
    }

    .documents-button-download {
        padding: 10px;
        font-size: 12px;
        width: auto;
    }

    .to-profile-button {
        padding: 10px;
        font-size: 14px;
        margin-right: -125px;
    }

    .documents-table-header {
        column-gap: 15px;
    }

    .documents-img {
        width: 12px;
        height: 12px;
    }

}

.dtl-section.user {
    max-width: none !important;
}
